{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'imgs/favicon.ico' %}">

    <title>{% block title %}新的模拟网页内容{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">测试模拟网页</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">慕课网</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#about">免费课程</a></li>
                <li><a href="#contact">实战课程</a></li>
                <li><a href="#contact">就业班</a></li>
                <li><a href="#contact">专栏</a></li>
                <li><a href="#contact">猿问</a></li>
                <li><a href="#contact">手记</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {% if request.session.is_login %}
                    <li><a href="#">当前在线：{{ request.session.user_name }}</a></li>
                    <li><a href="/logout/">登出</a></li>
                  {% else %}
                    <li><a href="/login/">登录</a></li>
                    <li><a href="/register/">注册</a></li>
                  {% endif %}
               </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery-3.2.1.min.js' %}"><\/script>')</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" >
    function sameSign(a,b){
	return (a ^ b) >= 0
	//判断符号是否相同
}

function vector(a,b){
	return{
		x: b.x - a.x,
		y: b.y - a.y

     }
}  /*定义坐标的获取方式*/
/*三角形,向量叉乘算法*/
function vectorProduct(v1,v2){
	return v1.x * v2.y - v2.x * v1.y
}


/* 二级菜单页面（B， C）最上，最下方坐标*/

function isPointInTrangle(p,a,b,c)
{
	var pa = vector(p,a)
	var pb = vector(p,b)
	var pc = vector(p,c)

	var t1 = vectorProduct(pa,pb)
	var t2 = vectorProduct(pb,pc)
	var t3 = vectorProduct(pc,pa)

	return sameSign(t1, t2) && sameSign(t2, t3)

}

//判断是否需要延迟。
function needDelay(elem, leftCorner, currMousePos){
	var offset = elem.offset()

	var topLeft = {
		x: offset.left,
		y: offset.top
	}

	var bottomLeft = {
		x: offset.left,
		y: offset.top +elem.height()
	}

	return isPointInTrangle(currMousePos, leftCorner, topLeft, bottomLeft)
}

</script>
<script type="text/javascript">
    // 事件代理方式进行绑定mouseenter/mouseover的区别：
    // mouseover和mouseout,如果鼠标移动到子元素上，即便没有离开父元素，也会触发父元素的mouseout事件，mouseenter/mouseleave，如果鼠标没有离开父元素，在子元素上任意移动，也不会触发mouseleave事件
    $(document).ready(function () {
    var sub = $('#sub')  //二级菜单的父div

    var activeRow
    var activeMenu

    //优化
    var timer
    var mouseInSub = false

    var mouseTrack=[]

    var moveHandler=function(e){
        mouseTrack.push({
            x:e.pageX,
            y:e.pageY
        })

        if(mouseTrack.length>3){
            mouseTrack.shift()
        }
    }

    sub.on('mouseenter', function (e) {
        //当鼠标放在二级菜单上是，标志位设为true
        mouseInSub = true
    }).on('mouseleave', function (e) {
        //同上离开时设置为false
        mouseInSub = false
    })
    //id test为整个一二级菜单的父容器div
        $('.wrap').on('mouseleave', function (e) {
        //离开菜单后，二级菜单隐藏
            sub.addClass('none')
            if (activeRow) {
                activeRow.removeClass('active')
                activeRow = null
            }
            if (activeMenu) {
                activeMenu.addClass('none')
                activeMenu = null
            }
        //移除鼠标在菜单里移动时的回调事件
        $(document).unbind('mousemove',moveHandler)

    })

    $('.wrap') //鼠标进入菜单时，注册鼠标移动时的回调事件
        .on('mouseenter',function(e){
            $(document).bind('mousemove',moveHandler)
            /*console.log('mouse enter bind handler')*/
        })

    $('#test li').on('mouseenter',function (e) {
            sub.removeClass('none')
            if (!activeRow) {
                activeRow = $(e.target).addClass('active')
                activeMenu = $('#' + activeRow.data('id'))
                activeMenu.removeClass('none')
                return
            }

            if (timer) {
                clearTimeout(timer)
            }

            //当前鼠标的坐标
            var currMousePos =mouseTrack[mouseTrack.length-1]
            //上次鼠标的坐标
            var leftCorner=mouseTrack[mouseTrack.length-2]

            //根据上次鼠标和二级菜单的左上下顶点所构成的三角形判断是否需要延迟
            //如果当前鼠标的位置在三角形之内，那么需要延迟，否则无需延迟
            var delay=needDelay(sub,leftCorner,currMousePos)

            if(delay){
                timer = setTimeout(function () {

                    if (mouseInSub) {
                        console.log("----")
                        return
                    }

                    activeRow.removeClass('active')
                    activeMenu.addClass('none')

                    activeRow = $(e.target)
                    activeRow.addClass('active')
                    activeMenu = $('#' + activeRow.data('id'))
                    activeMenu.removeClass('none')
                    timer = null
                }, 500)
            }else{
                var prevActiveRow=activeRow
                var prevActiveMenu=activeMenu

                activeRow=$(e.target)
                activeMenu=$('#'+activeRow.data('id'))

                prevActiveMenu.addClass('none')
                prevActiveRow.removeClass('active')

                activeRow.addClass('active')
                activeMenu.removeClass('none')
            }
        })
})
</script>

    {% block content %}{% endblock %}
    <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!--script src="../../assets/js/vendor/holder.min.js"></script-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--script-- src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->
  </body>
</html>
